<main>
    <div class="contenedor">
        <div class="title">INGRESE LA ABASTECEDORA
            <div class="spinner-border text-primary" role="status" *ngIf="registro">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <form autocomplete="off" [formGroup]="f" (ngSubmit)="save()">

            <div class="img-dimension">
                <!-- <div class="img-title">Dimensión de la Imagen:</div> -->
                <div class="img-content">
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="text" class="form__input form-control" placeholder=" " formControlName="codigo"
                                [class.is-invalid]="codigoNotValid">
                            <label for="" class="form__label">Código:</label>
                        </div>
                        <div *ngIf="codigoNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="text" class="form__input form-control" placeholder=" "
                                formControlName="codigoarch" [class.is-invalid]="codigoARCHNotValid">
                            <label for="" class="form__label">Código ARCH:</label>
                        </div>
                        <div *ngIf="codigoARCHNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                </div>
            </div>

            <div class="img-dimension">
                <!-- <div class="img-title">Dimensión de la Imagen:</div> -->
                <div class="img-content">
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="text" class="form__input form-control" placeholder=" "
                                formControlName="codigostc" [class.is-invalid]="codigoSTCNotValid">
                            <label for="" class="form__label">Código STC:</label>
                        </div>
                        <div *ngIf="codigoSTCNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="text" class="form__input form-control" placeholder=" "
                                formControlName="clavestc" [class.is-invalid]="claveSTCNotValid">
                            <label for="" class="form__label">Clave STC:</label>
                        </div>
                        <div *ngIf="claveSTCNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                </div>
            </div>

            <div class="form__div form-group">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="ruc"
                        [class.is-invalid]="rucNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">R.U.C.:</label>
                </div>
            </div>
            <div *ngIf="rucNotValid" class="text-danger notification-inbound">Campo invalido.</div>

            <div class="form__div form-group">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="nombre"
                        [class.is-invalid]="nombreNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Nombre:</label>
                </div>
            </div>
            <div *ngIf="nombreNotValid" class="text-danger notification-inbound">Campo invalido.</div>

            <div class="form__div form-group">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="direccion"
                        [class.is-invalid]="direccionNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Dirección:</label>
                </div>
            </div>
            <div *ngIf="direccionNotValid" class="text-danger notification-inbound">Campo invalido.</div>

            <div class="form__div form-group">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" "
                        formControlName="identificacionrepresentantelega" [class.is-invalid]="identificacionRLNotValid"
                        oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Identeficación RL:</label>
                </div>
            </div>
            <div *ngIf="identificacionRLNotValid" class="text-danger notification-inbound">Campo invalido.</div>

            <div class="form__div form-group">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="nombrerepresentantelegal"
                        [class.is-invalid]="nombreRLNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Nombre RL:</label>
                </div>
            </div>
            <div *ngIf="nombreRLNotValid" class="text-danger notification-inbound">Campo invalido.</div>


            <div class="grupo-campos">
                <div class="select-check form-group">
                    <div class="campo">
                        <mat-checkbox class="mat-check" formControlName="activo" [color]="color"
                            [(indeterminate)]="indeterminate" (change)="setChangeEstado($event.checked)"
                            labelPosition="before">
                            Estado: </mat-checkbox>
                    </div>
                    <div class="check-name" *ngIf="activo" [style.color]="stylecolor">Activo</div>
                    <div class="check-name" *ngIf="inactivo" [style.color]="stylecolor">Inactivo</div>
                    <div *ngIf="estatusNotValid" class="text-danger notification-check">Campo no seleccionado.</div>
                </div>

                <!--<div class="select-check form-group">
                    <div class="campo">
                        <mat-checkbox class="mat-check" formControlName="escontribuyenteespacial" [color]="color"
                            [(indeterminate)]="indeterminate" (change)="setChangeContE($event.checked)"
                            labelPosition="before">
                            Contribuyente Especial: </mat-checkbox>
                    </div>
                    <div class="check-name" *ngIf="activoC" [style.color]="stylecolor"></div>
                    <div class="check-name" *ngIf="inactivoC" [style.color]="stylecolor"></div>
                    <div *ngIf="contEspecialNotValid" class="text-danger notification-check">Campo no seleccionado.</div>
                </div>-->

                <div class="campo-seleccion">
                    <mat-form-field appearance="outline">
                        <mat-label>Contribuyente Especial:</mat-label>
                        <mat-select formControlName="escontribuyenteespacial" required >
                            <mat-option >Opciones</mat-option>
                            <mat-option [value]= "true">SI</mat-option>
                            <mat-option [value]= "false">NO</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="contEspecialNotValid" class="text-danger notification-check">Campo no seleccionado.</div>
                </div>
            </div>

            <div class="img-dimension">
                <!-- <div class="img-title">Dimensión de la Imagen:</div> -->
                <div class="img-content">
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="email" class="form__input form-control" placeholder=" "
                                formControlName="correo1" [class.is-invalid]="correo1NotValid">
                            <label for="" class="form__label">Correo 1:</label>
                        </div>
                        <div *ngIf="correo1NotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="text" class="form__input form-control" placeholder=" "
                                formControlName="telefono1" [class.is-invalid]="telefono1NotValid">
                            <label for="" class="form__label">Telefono 1:</label>
                        </div>
                        <div *ngIf="telefono1NotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                </div>
            </div>

            <!-- <div class="section-one">
                <div class="form__div form-group">
                    <div class="campo">
                        <input type="number" class="form__input form-control" placeholder=" " formControlName="secuencial"
                            [class.is-invalid]="secuencialNotValid">
                        <label for="" class="form__label">Secuencial:</label>
                    </div>
                    <div *ngIf="secuencialNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                </div>
                <div class="select-check form-group">
                    <div class="campo">
                        <mat-checkbox class="mat-check" formControlName="estatus">Estatus</mat-checkbox>
                    </div>
                    <div *ngIf="estatusNotValid" class="text-danger notification-check">Campo no seleccionado.</div>
                    <mat-checkbox class="mat-check">Estatus</mat-checkbox>
                </div>
            </div>

            <div class="section-two">
                <mat-form-field appearance="outline">
                    <mat-label>Código del Cliente:</mat-label>
                    <mat-select formControlName="codigo" required>
                        <mat-option>Opciones</mat-option>
                        <mat-option *ngFor="let cod of codCliente" [value]="cod.codigo">
                            {{cod.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="codClienteNotValid" class="text-danger notification-inbound">Campo invalido.</div> -->

            <!-- <div class="file-upload">
                <div class="file-upload-btn">
                    <button type="button" (click)="fileInput.click()" class="file-upload-button">
                        <span>Cargar Imagen</span>
                        <input #fileInput type="file" (change)="uploadFile($event)" class="file-upload-input" />
                    </button>
                </div>

                <div class="loading" *ngIf="loading else carga">
                    <div class="title">Cargando Imagen...</div>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                </div>

                <ng-template #carga>
                    <div class="file-upload-label">{{msgImage}}</div>
                </ng-template>

            </div> -->

            <!-- <div class="img-dimension">
                <div class="img-title">Dimensión de la Imagen:</div>
                <div class="img-content">
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="number" class="form__input form-control" placeholder=" "
                                formControlName="height" [class.is-invalid]="heightNotValid">
                            <label for="" class="form__label">Altura:</label>
                        </div>
                        <div *ngIf="heightNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                    <div class="form__div form-group">
                        <div class="campo">
                            <input type="number" class="form__input form-control" placeholder=" "
                                formControlName="weight" [class.is-invalid]="weightNotValid">
                            <label for="" class="form__label">Ancho:</label>
                        </div>
                        <div *ngIf="weightNotValid" class="text-danger notification-outbound">Campo invalido.</div>
                    </div>
                </div>
            </div> -->

            <div class="btn-container">
                <button mat-raised-button type="button" (click)="close()">Regresar</button>
                <button mat-raised-button class="btn-save" [disabled]="f.invalid" type="submit">{{btnName}}</button>
            </div>

        </form>

    </div>
</main>