<main>
    <div class="contenedor">
        <div class="intro">
            <div class="maintext text-white">
                <h4>2021</h4>
                <h1>INFINITY_ONE <br>@SuperTech</h1>
                <div class="star-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Bienvenido a Infinity_one. Su mejor aliado. Su mejor aliado!.<br>

                    Infinity_one es un servicio de software especializado en Comercialización de Combustibles.<br>

                    Orientado a facilitar la administración del abastecimiento de productos, mediante una relación
                    excepcional con EP Petroecuador.<br>
                </p>
            </div>
            <div class="boton">
                <a class="btn" (click)="changePage()">INGRESAR AL SISTEMA</a>
            </div>
        </div>
        <div class="main-img">
            <div class="img">
                <img src="../../../../assets/images/TRUCK.png" alt="">
            </div>
        </div>
    </div>
</main>