<main>
    <div class="intro">
        <div class="maintext text-white">
            <h4>2021</h4>
            <h1>Sistema de Despacho <br>de Combustibles</h1>
            <div class="star-icon">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates magni commodi vitae et facilis
                nam tenetur perspiciatis voluptatem consequuntur, modi similique repellat blanditiis eos dolore quis
                natus quam molestias hic?</p>
            <a class="btn" (click)="changePage()">INGRESAR AL SISTEMA</a>
        </div>
    </div>
    <div class="main-img">
        <div class="img">
            <img src="../../../../assets/images/TRUCK.png" alt="">
        </div>
    </div>
</main>