/* Main Section */
main {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.intro {
    width: 40%;
}

.main-img {
    width: 60%;
}

.maintext h4 {
    opacity: 0;
    font-size: 30px;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes textanimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.maintext h1 {
    font-size: 2.7em;
    line-height: 1;
    opacity: 0;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

.star-icon {
    margin: 20px 0;
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes iconreveal {

    0%,
    40%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.star-icon .fas {
    margin: 0 3px;
    font-size: 14px;
    color: rgb(243, 178, 13);
}

.maintext p {
    padding: 0 30px 0 0;
    color: rgb(185, 185, 185);
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

.maintext a {
    color: #2C2C40;
    font-weight: 500;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    padding: 5px 30px;
    background-color: #f7b23f;
    transition: .5s;
    opacity: 0;
    animation: textanimation 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

.maintext a:hover {
    background-color: #ef893a;
    color: white;
}

.img {
    position: relative;
    width: 100%;
}

.img img {
    width: 100%;
    transition: .5s;
    transform: rotateY(-180deg) rotate(0deg);
    opacity: 0;
    animation: iconreveal 1.5s ease-in-out forwards;
    animation-delay: 1s;
}

@media screen and (max-width: 800px) {

    .intro {
        width: 80%;
    }

    .main-img {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    main {
        padding: 0 30px;
    }

    .intro {
        width: 100%;
    }

    .maintext h1 {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 330px) {

    main {
        padding: 0 30px;
    }

    .intro {
        width: 100%;
    }

    .maintext h1 {
        font-size: 1.7em;
    }

    .maintext h4 {
        font-size: 24px;
    }
}