<main class="container main">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="maintext text-white">
                <h4>2020</h4>
                <h1>Sistema de Despacho <br>de Combustibles</h1>
                <div class="star-icon">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates magni commodi vitae et facilis
                    nam tenetur perspiciatis voluptatem consequuntur, modi similique repellat blanditiis eos dolore quis
                    natus quam molestias hic?</p>
                <a href="#" class="btn">INGRESAR AL SISTEMA</a>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="img">
                <img src="../../../../assets/images/TRUCK.png" alt="">
            </div>
        </div>
    </div>
</main>