<main class="main">
    <div class="content-img">
        <div class="img">
            <img src="../../../../assets/images/STATION.png" alt="">
        </div>
    </div>
    <div class="content-logo">
        <form (ngSubmit)="login( f )" #f="ngForm" class="login">
            <div class="logo">
                <img src="../../../../assets/images/LOGO.png" alt="">
            </div>
            <div class="title">DESPACH</div>
            <div class="sub-title">Sistema Integral</div>
            <div class="fields">

                <span *ngIf="f.submitted && f.controls.email.errors" class="text-danger animated fadeIn">El
                    correo es obligatorio</span>

                <div class="wrap-input100 m-b-16 username">
                    <i class="fas fa-envelope"></i>
                    <input class="input100" type="text" name="email" [(ngModel)]="usuario.email" required email
                        placeholder="Email" autocomplete="off">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls.password.errors" class="text-danger animated fadeIn">Debe
                    contener mínimo 6 caracteres</span>
                <div class="wrap-input100 m-b-16 password" data-validate="Password is required">
                    <i class="fas fa-lock"></i>
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" required
                        minlength="6" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

            </div>
            <button class="sigin-button" type="submit">Ingresar</button>
            <div class="link">
                <a>Olvido su clave?</a>
            </div>
        </form>
    </div>
</main>