<footer>
    <div class="created">
        <div class="created-img">
            <img src="../../../../assets/images/INFINITY.png" alt="">
        </div>
        <div class="created-text">&copy; INFINITY</div>
    </div>
    <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
    </div>
    <div class="youtube">
        <div class="play">
            <i class="fas fa-play"></i>
        </div>
        <div class="text">
            Video
        </div>
    </div>
</footer>