<main>
    <div class="cards">
        <div class="card-single">
            <div>
                <h1>54</h1>
                <span>Customers</span>
            </div>
            <div>
                <span>
                    <fa-icon [icon]="['fas', 'users']"></fa-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>79</h1>
                <span>Projects</span>
            </div>
            <div>
                <span>
                    <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>124</h1>
                <span>Orders</span>
            </div>
            <div>
                <span>
                    <fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>$6k</h1>
                <span>Income</span>
            </div>
            <div>
                <span>
                    <fa-icon [icon]="['fas', 'users']"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="recent-grid">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h2>Proyectos Recientes</h2>
                    <button>Mostrar Todos <span>
                            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                        </span></button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Project Title</td>
                                    <td>Departament</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>UI/UX Design</td>
                                    <td>UI Team</td>
                                    <td>
                                        <span class="status purple"></span>review
                                    </td>
                                </tr>
                                <tr>
                                    <td>Web Develoment</td>
                                    <td>Frontend</td>
                                    <td>
                                        <span class="status pink"></span>in progress
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td>
                                        <span class="status orange"></span>pending
                                    </td>
                                </tr>
                                <tr>
                                    <td>UI/UX Design</td>
                                    <td>UI Team</td>
                                    <td>
                                        <span class="status purple"></span>review
                                    </td>
                                </tr>
                                <tr>
                                    <td>Web Develoment</td>
                                    <td>Frontend</td>
                                    <td>
                                        <span class="status pink"></span>in progress
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ushop app</td>
                                    <td>Mobile Team</td>
                                    <td>
                                        <span class="status orange"></span>pending
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="customers">
            <div class="card">
                <div class="card-header">
                    <h2>Nuevos Clientes</h2>
                    <button>Mostrar Todos <span>
                            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                        </span></button>
                </div>
                <div class="card-body">
                    <div class="customer">
                        <div class="info">
                            <img src="../../../../assets/images/AVATAR.svg" width="40px" height="40px" alt="">
                            <div>
                                <h4>David Guamán</h4>
                                <small>CEO Excerpt</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img src="../../../../assets/images/AVATAR.svg" width="40px" height="40px" alt="">
                            <div>
                                <h4>David Guamán</h4>
                                <small>CEO Excerpt</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img src="../../../../assets/images/AVATAR.svg" width="40px" height="40px" alt="">
                            <div>
                                <h4>David Guamán</h4>
                                <small>CEO Excerpt</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img src="../../../../assets/images/AVATAR.svg" width="40px" height="40px" alt="">
                            <div>
                                <h4>David Guamán</h4>
                                <small>CEO Excerpt</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img src="../../../../assets/images/AVATAR.svg" width="40px" height="40px" alt="">
                            <div>
                                <h4>David Guamán</h4>
                                <small>CEO Excerpt</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <span>Pie</span>
    </div>
</main>