main {
    margin-top: 76px;
    width: 100%;
    height: calc(100vh - 76px);
    display: grid;
    place-items: center center;
    padding: 20px;
}

.componentes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 1024px;
    width: 80%;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.actions .btn1 {
    display: none;
}

.mat-raised-button {
    background-color: #EF893A;
    color: white;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.td-icon, .th-icon {
    width: 10%;
    cursor: pointer;
    text-align: center;
}

.th-icon {
    padding: 0 5px;
}

.btn-edit {
    color: #EF893A;
}

.btn-delete {
    color: #DC3545;
}


@media screen and (max-width: 800px) {

    .componentes {
        width: 100%;
    }

    .actions {
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .actions .btn1 {
        display: block;
        margin: 0 0 20px 0;
    }

    .actions .btn2 {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .title {
        font-size: 20px;
    }
    
}