<main>
    <div class="contenedor">
        <div class="title">LISTA PRECIO
            <div class="spinner-border text-primary" role="status" *ngIf="registro">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <form autocomplete="off" [formGroup]="f" (ngSubmit)="save()">
            <div class="form__div">
                <div class="campo">
                    <mat-form-field appearance="outline">
                        <mat-label>Comercializadora:</mat-label>
                        <mat-select formControlName="codigocomercializadora" required>
                            <mat-option>Opciones</mat-option>
                            <mat-option *ngFor="let com of comercializadora" [value]="com.codigo" (click)="getCom(com)">
                                {{com.codigo}} - {{com.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="comercializadoraIdNotValid" class="text-danger notification-select">
                    Campo no seleccionado.
                </div>
            </div>

            <div class="form-div-input">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="codigo"
                        [class.is-invalid]="codigoNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Código:</label>
                </div>
            </div>
            <div *ngIf="codigoNotValid" class="text-danger notification">Campo invalido.</div>

            <div class="form-div-input">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="nombre"
                        [class.is-invalid]="nombreNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Nombre:</label>
                </div>
            </div>
            <div *ngIf="nombreNotValid" class="text-danger notification">Campo invalido.</div>

            <div class="select-check">
                <div class="campo">
                    <mat-checkbox class="mat-check" formControlName="activo" [color]="color"
                        [(indeterminate)]="indeterminate" (change)="setChange($event.checked)" labelPosition="before">
                        Estado: </mat-checkbox>
                </div>
                <div class="check-name" *ngIf="activo" [style.color]="stylecolor">Activo</div>
                <div class="check-name" *ngIf="inactivo" [style.color]="stylecolor">Inactivo</div>
            </div>
            <div *ngIf="estatusNotValid" class="text-danger notification-check">Campo no seleccionado.</div>

            <!-- <div class="form-div-input">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="porcentaje"
                        [class.is-invalid]="porcentajeNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Porcentaje:</label>
                </div>
            </div>
            <div *ngIf="porcentajeNotValid" class="text-danger notification">Campo invalido.</div>

            <div class="form-div-input">
                <div class="campo">
                    <input type="text" class="form__input form-control" placeholder=" " formControlName="valor"
                        [class.is-invalid]="valorNotValid" oninput="this.value = this.value.toUpperCase()">
                    <label for="" class="form__label">Valor:</label>
                </div>
            </div>
            <div *ngIf="valorNotValid" class="text-danger notification">Campo invalido.</div> -->

            <div class="form__div">
                <div class="campo">
                    <mat-form-field appearance="outline">
                        <mat-label>TIPO:</mat-label>
                        <mat-select formControlName="tipo" required>
                            <mat-option>Opciones</mat-option>
                            <mat-option *ngFor="let tip of tipo" [value]="tip.codigo">
                                {{tip.codigo}} - {{tip.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="tipoNotValid" class="text-danger notification-select">
                    Campo no seleccionado.
                </div>
            </div>

            <div class="btn-container">
                <button mat-raised-button type="button" (click)="close()">Regresar</button>
                <button mat-raised-button class="btn-save" [disabled]="f.invalid" type="submit">{{btnName}}</button>
            </div>

        </form>

    </div>
</main>