<main>
    <div class="loading" *ngIf="loading else carga">
        <div class="title">Cargando Datos...</div>
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    <ng-template #carga>
        <div class="contenedor">
            <div [id]="label+item.secuencial" class="tarjetas" *ngFor="let item of items; index as i"
                (click)="goPage(item)">
                <div [id]="card+item.secuencial" class="tarjeta">
                    <img [src]="item.imagenUrl" alt="">
                    <p>{{item.nombre}}</p>
                </div>
            </div>
        </div>
    </ng-template>

</main>

<!-- <main>
    <div class="tarjetas">
        <div class="loading" *ngIf="loading else carga">
            <div class="title">Cargando Datos...</div>
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <ng-template #carga>
            <div class="tarjeta" *ngFor="let item of items; index as i" (click)="goPage(item)">
                <div class="contenedor">
                    <img [src]="item.imagenUrl" alt="">
                </div>
                <div class="titulo">
                    {{item.nombre}}
                </div>
            </div>
        </ng-template>
        
    </div>
</main> -->