<main>
    <div class="componentesD">
        <div class="title">CUOTAS CLIENTE</div>
        <div class="detalle-valoresD">
            <div class="etiquetaD fondo">
                <div class="subetiquetaF">Comercializadora</div>
                <div class="consulta-doc">Descripción</div>
                <div class="fecha-consulta">Tipo</div>
                <div class="fecha-consulta">Valor Total</div>
                <div class="fecha-consulta">Cuotas</div>
            </div>
        </div> 
        <div class="form__div">
            <div class="campo">
                <p>Modalidad De Cobro</p>
                <br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Factura</mat-radio-button>
                    <mat-radio-button value="2">Libre</mat-radio-button>
                    <mat-radio-button value="2">Mensual</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
    </div>
</main>
