<main>
    <div class="contenedor">
        <div id="etiqueta1" class="tarjetas">
            <div id="tarjeta1" class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta2" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta3" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta4" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta5" class="tarjetas">
            <div id="tarjeta5" class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta6" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta7" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta8" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta9" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div id="etiqueta10" class="tarjetas">
            <div class="tarjeta">
                <img src="../../../../assets/images/AVATAR.svg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</main>